*.pyc
*.o
*.a
*.so
*.swp
*.html
*.xml

#ignoring pytest coverage files
*.coverage

./.vscode
./.pytest_cache
.vscode
*.cmake
CMakeFiles/
CMakeCache.txt
*/*/Makefile
Vehicle-Python/MessageFormats/*/*.so
Vehicle-Python/MessageFormats/*/Makefile
Vehicle-C++/Vehicle/*/Makefile
Vehicle-C++/Vehicle/Build/*
Vehicle-Python/Build/*
Makefile