*.pyc
*.o
*.a
*.so
*.swp
*.html
*.xml
./.vscode
./.pytest_cache
.vscode
*.cmake
CMakeFiles/
CMakeCache.txt
*/*/Makefile
Vehicle-Python/MessageFormats/*/*.so
Vehicle-Python/MessageFormats/*/Makefile
Vehicle-C++/Vehicle/*/Makefile
Vehicle-C++/Vehicle/Build
