*.pyc
*.o
*.a
*.so
*.swp
*.html
*.xml
./.vscode
./.pytest_cache
.vscode
*.cmake
CMakeFiles/
CMakeCache.txt
*/*/Makefile
Vehicle-Python/MessageFormats/Fuel/Makefile
Vehicle-Python/MessageFormats/Fuel/*.so
